body{
    box-sizing: border-box;
}

.principal{
    background: gray;
    padding: 30px;
}

h1{
    text-align: center;
}

p{
    font-size: 25px;
    text-align: center;

}

#missao{

}

em{
    color:rgb(151, 37, 37)
}

#banner{
    margin-left: 260px;
    padding-bottom: ;
}

.beneficios{
    background: white;
    padding: 30px;
}

h2{
    font-size: 40px;
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
}

.itens{
    font-size: 20px;
    font-style: italic;
}

#beneficiosimagem{
    width: 25%;
    margin-left:50px ;  
    

}

#linkyoutube{
    display: block;
    font-size: 20px;
    padding:20px;
    
    
}



